gu-message(gu-type="them" gu-placeholder="User says anything..." gu-content="interviews.title")
gu-message(gu-type="me" gu-placeholder=" (required) Bot says..." gu-thumb-url="img/guBotLogo32.png")
gu-message(gu-type="them" gu-placeholder="User says anything...")
button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored
	i.material-icons add


