div.message-wrapper.them
	div.circle-wrapper.animated.bounceIn
	div.text-wrapper.animated.fadeIn
		{{interviews.title}}
div.message-wrapper.me
	div.circle-wrapper.animated.bounceIn
	div.text-wrapper.animated.fadeIn
		{{interviews.title}}